<template>
<div>
    <CarItem v-bind="task" v-for="(task, index) in taskData" :key="index" />
    <h1>Ingresa una nueva tarea.</h1>
    <form @Submit.prevent="agregarTarea()">
        <input type="text" v-model="titulo" placeholder="Ingresa el titulo">
        <input type="text" v-model="desc" placeholder="Describe la tarea"> 
        <button type="submit">Enviar</button>
    </form>
</div>
</template>
<script lang="ts" setup>
    import TaskData from '@/data/TaskData';
    import { ref } from 'vue'
    const titulo = ref('')
    const desc = ref('')
    const taskData = ref(TaskData);
    let siguienteid = 2

    const agregarTarea = () =>{
        if(titulo.value){
            taskData.value.push({
                id: siguienteid++,
                Titulo: titulo.value,
                Desc: desc.value
            });
            titulo.value = '';
            desc.value = '';
        }
    }

</script>

<style scoped></style>